.toolBar {
    background-color: black;
    float: top;
    padding: 15px;
}

.selectPanel {
    background-color: #555;
    left: 0;
    width: 200px;
    float: left;
}

.selectPanel button {
    display: block;
}

.mainBody {

}

.sendButton {
    background-color: dodgerblue;
    border: none;
    border-radius: 3px;
    padding: 9px 13px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin: 0px 5px;
}

.sendButton:hover {
    background-color: lightblue;
}

.saveAsDropdownButton {
    background-color: lightgray;
    padding: 9px 9px;
    border: 1px solid darkgray;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.saveAsDropdownButton:hover {
    background: darkgray;
}

.saveButton {
    background-color: lightgray;
    padding: 9px 10px;
    border: 1px solid darkgray;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
    border-right: none; /* prevent double borders */
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.saveButton:hover {
    background: darkgray;
}

