.toolBar {
    background-color: black;
    float: top;
    padding: 15px;
}

.selectPanel {
    background-color: #555;
    left: 0;
    width: 200px;
    float: left;
}

.selectPanel button {
    display: block;
}

.mainBody {

}

.sendButton {
    background: dodgerblue;
    border: 0px;
}

.sendButton:hover {
    background-color: blue;
    border: 0px;
}

.saveAsDropdownButton {
    background-color: lightgray;
    padding: 9px 9px;
    border: 1px solid darkgray;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

.saveAsDropdownButton:hover {
    background: darkgray;
}

.saveButton {
    background-color: lightgray;
    padding: 9px 10px;
    border: 1px solid darkgray;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

.saveButton:hover {
    background: darkgray;
}

