.toolBar {
    background-color: black;
    float: top;
}

.selectPanel {
    background-color: #555;
    left: 0;
    width: 200px;
    float: left;
}

.selectPanel button {
    display: block;
}

.mainBody {

}

.sendButton {
    background: dodgerblue;
    border: 0px;
}

.sendButton:hover {
    background: blue;
    border: 0px;
}

.saveButton {
    background: lightgray;
    border: 0px;
}

.saveButton:hover {
    background: darkgray;
    border: 0px;
}

.saveAsDropdownButton {
    background: lightgray;
    margin: 0px;
    border: 0px;
}

.saveAsDropdownButton:hover {
    background: darkgray;
    border: 0px;
}