.toolBar {
    background-color: black;
    float: top;
}

.selectPanel {
    background-color: #555;
    left: 0;
    width: 200px;
    float: left;
}

.selectPanel button {
    display: block;
}



.mainBody {

}